# gitignore for JAVA
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#gitignore for C++
#Compiled Object files
*.slo
*.ld
*.o

#Complied Dynamic libraries
*.so
*.dylib

#Compiled Static libraries
*.lai
*.la
*.a

#Visual Studio Files
Debug
Release
*.suo
*.csproj.user
*.vbproj.user
ipch
*sdf
